<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="21.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="AutoCAD.NET.Core" version="21.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="AutoCAD.NET.Model" version="21.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="BuerTech.AcHelper" version="21.0.2" targetFramework="net46" />
  <package id="BuerTech.Logger" version="1.0.1" targetFramework="net46" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net46" />
  <package id="JustMock" version="2016.2.426.1" targetFramework="net45" />
  <package id="LiteDB" version="2.0.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NUnit" version="3.6.1" targetFramework="net46" />
</packages>