<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.Net" version="19.1.0" targetFramework="net45" />
  <package id="AutoCAD.NET.Core" version="20.0.1" targetFramework="net45" developmentDependency="true" requireReinstallation="true" />
  <package id="AutoCAD.NET.Model" version="20.0.1" targetFramework="net45" developmentDependency="true" requireReinstallation="true" />
</packages>